@import "tailwindcss";

body {
  background: #efefef;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.animate-pulse {
  animation: pulse 2s ease-in-out infinite;
}

.neu-button {
  background-color: #e0e0e0 !important;
  border-radius: 50px !important;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff !important;
  color: #4d4d4d !important;
  cursor: pointer;
  font-size: 18px !important;
  padding: 15px 40px !important;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206) !important;
}

.neu-button:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff !important;
}

.neu-button:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff !important;
}
